-# -*- encoding: utf-8 -*-
- @budget.each do |budget|
  %h1= "#{budget.total} JPY"
  %span.label= budget.yearmonth
  .row
    - CONFIG.keys.each do |genre|
      .span2
        %table.table.table-striped
          %thead
            %h4= CONFIG[genre]
          %tbody
            - budget.payments.where(genre: genre).each do |payment|
              %tr
                -# .span1= "#{payment.created_at.strftime("%d %a")}"
                %td= payment.title
                %td.price= payment.price
