-# -*- encoding: utf-8 -*-
- now = Time.now
- @budget.each do |budget|
  %h1= "#{budget.total} JPY"
  %span.label.yearmonth= budget.yearmonth
  .row
    - CONFIG.keys.each do |genre|
      .span2
        %table.table.table-striped
          %thead
            %h4= CONFIG[genre]
          %tbody
            - budget.payments.where(genre: genre).each do |payment|
              %tr{:id => payment.id}
                -# .span1= "#{payment.created_at.strftime("%d %a")}"
                %td= payment.title
                %td.price
                  - if now - payment.created_at < 1.hours
                    %span.label.label-important.trash{:payment_id => payment.id}
                      %i.icon-trash.icon-white
                  = payment.price
