-# -*- encoding: utf-8 -*-
- @budget.each do |budget|
  %h2= budget.yearmonth
  - CONFIG.keys.each do |genre|
    %h3= genre
    - budget.payments.where(genre: genre).each do |payment|
      %div{ :style => 'border: thin;' }
        %span= "#{payment.created_at.strftime("%d %a")}"
        %span= payment.title
        %span= "#{payment.price} JPY"
  %hr
  %p= "total: #{budget.total} JPY"
