- form_tag '/', :method => 'post' do
  = label_tag :title
  = text_field_tag :title, :value => params[:title]
  = label_tag :price
  = text_field_tag :price, :value => params[:price]
  = label_tag :genre
  = select_tag :genre, :options => ['food', 'incidental']
  = submit_tag
%hr

= yield
