-# -*- encoding: utf-8 -*-
!!!
%title かけいぼ！

- form_tag '/', :method => 'post' do
  = select_tag :genre, :options => CONFIG
  = text_field_tag :title, :value => params[:title], :placeholder => 'なにに', :required => ''
  = text_field_tag :price, :value => params[:price], :placeholder => 'いくら', :type => 'number', :required => '', :step => '100', :min => '100'
  = submit_tag 'つかった'
%hr

= yield
