-# -*- encoding: utf-8 -*-
!!!
- form_tag '/', :method => 'post' do
  = text_field_tag :title, :value => params[:title], :placeholder => 'なにに', :required => ''
  = text_field_tag :price, :value => params[:price], :placeholder => 'いくら', :type => 'number', :required => '', :step => '100', :min => '100'
  = select_tag :genre, :options => ['食費', '雑費']
  = submit_tag
%hr

= yield
